body .fourth-container .main-content {
	height: 100%;
}

body .fourth-container .title-container {
	width: 100%;
}

body .fourth-container .title-container h1 {
	font-family: "Gilroy-Bold", sans-serif;
}

body .fourth-container .mobile-screen-container {
	display: none;
	padding: 50px 20px;
}

body .fourth-container .mobile-screen-container button {
	width: 200px;
	padding: 10px;
	background-color: #3251bf;
	color: white;
	outline: none;
	border: none;
}

@media screen and (max-width: 730px) {
	body .fourth-container .mobile-screen-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 30px;
	}
	body .fourth-container .popup-container {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: scroll;
		display: none;
		z-index: 10;
	}
	body .fourth-container .popup-container .popup-button-container {
		display: block;
		width: 100%;
		padding: 20px 30px;
	}
	body .fourth-container .popup-container #popup-close-btn {
		display: block;
		padding: 10px;
		background-color: #3251bf;
		color: white;
		outline: none;
		border: none;
		width: 100%;
	}
	body .fourth-container .popup-container .timeline {
		padding: 20px;
	}
}

body .fourth-container .popup-button-container {
	display: none;
}

body .fourth-container .timeline {
	margin: 0px auto;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	gap: 40px;
}

body .fourth-container .timeline .timeline-title {
	margin-left: 30px;
	font-family: "Gilroy-Bold", sans-serif;
	font-size: 40px;
}

body .fourth-container .outer {
	padding: 10px;
}

body .fourth-container .card {
	position: relative;
	padding-left: 40px;
	padding-bottom: 20px;
	color: black;
	margin: 0;
}

body .fourth-container .card:last-child {
	padding-bottom: 0;
}

body .fourth-container .card:last-child::after {
	display: none;
}

body .fourth-container .info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 5px;
}

body .fourth-container .info p {
	font-size: 16px;
	line-height: 20px;
}

body .fourth-container .title {
	position: relative;
	font-size: 24px;
	font-family: "Gilroy-Bold", sans-serif;
}

body .fourth-container .title::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background: #3251bf;
	border-radius: 999px;
	left: -48.5px;
	top: 5px;
	-webkit-transform: translateY(-1px);
	transform: translateY(-1px);
}

body .fourth-container .card::after {
	content: "";
	position: absolute;
	top: 5px;
	left: -3px;
	width: 5px;
	height: 0;
	background-color: #3251bf;
	-webkit-transition: height 0.4s linear 0.5s;
	transition: height 0.4s linear 0.5s;
}

body .fourth-container .card:nth-child(2)::after {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}

body .fourth-container .card:nth-child(3)::after {
	-webkit-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

body .fourth-container .card.show::after {
	height: 100%;
}

@media screen and (max-width: 880px) {
	body .fourth-container .card {
		padding-bottom: 20px;
	}
}
